<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>-->
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">-->
<!--    <script type="text/javascript" th:src="@{/vue/vue.min.js}"></script>-->
<!--    <script type="text/javascript" th:src="@{/vue/axios.min.js}"></script>-->
    <script src="./vue/vue.min.js"></script>
    <script src="./vue/axios.min.js"></script>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <style>
        .table{
            min-height: 120px;
        }
    </style>
</head>
<body>


<!--Table bar-->
<div id="app" class="container-fluid">
    <!--left 8-->
    <div class="row">

        <div class="col-md-8">
            <!--row 1-->
            <div class="row">
                <div class="col-md-8" style="margin-top: 20px">
                    <form class="form-inline row">
                        <div class="col-md-5">
                            <input type="text" v-model="search_user.id" class="form-control col-md-12 mb-2 mr-sm-2" id="inlineFormInputName2"  placeholder="ID Number">
                        </div>
                        <div class="col-md-5">
                            <div class="input-group mb-2 mr-sm-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input type="text" v-model="search_user.username" class="form-control" id="inlineFormInputGroupUsername2" placeholder="User Name">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" @click="showUsersByLike" class="btn btn-light mb-2">Search</button>
                        </div>

                    </form>
                </div>
            </div>
            <!--row 2-->
            <div class="row" style="margin-top: 20px;margin-right: 20px;margin-left: 0px;">
                <table class="table table-light table-responsive-md table-striped table-bordered table-hover">
                    <!--表头-->
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Phone Number</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <!--表身-->
                    <tbody>
                    <tr v-for="user in users" :key="user.id">
                        <th>{{user.id}}</th>
                        <th>{{user.username}}</th>
                        <th>{{user.email}}</th>
                        <th>{{user.age}}</th>
                        <th>{{user.phoneNum}}</th>
                        <td><button class="btn-outline-danger" @click="deleteUsers(user.id)">Delete</button>&nbsp;&nbsp;
                            <button class="btn-outline-primary" @click="updateUsers(user.id)">Update</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--right 4-->
        <div class="card col-md-4 p-3 mb-2 bg-light text-dark" style="margin-top: 20px">
            <form>
                <div class="form-group">
                    <label for="username"></label>
                    <input type="text" class="form-control" id="username" v-model="new_user.username" placeholder="User Name">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input type="text" class="form-control" id="password" v-model="new_user.password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="age"></label>
                    <input type="text" class="form-control" id="age" v-model="new_user.age" placeholder="Age">
                </div>
                <div class="form-group">
                    <label for="email"></label>
                    <input type="text" class="form-control" id="email" v-model="new_user.email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="phone_number"></label>
                    <input type="text" class="form-control" id="phone_number" v-model="new_user.phoneNum" placeholder="Phone Number">
                </div>
                <br>
                <div>
                    <input type="submit" class="btn btn-secondary btn-mini" @click="addUsers" value="Submit">
                    <button class="btn btn-danger btn-mini" @click="resetUsers">Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--    <ul v-for="item,index in users" :key="index" type="square">-->
<!--        <li>-->
<!--            索引{{index}},用户名{{item.username}},邮箱{{item.email}},密码{{item.password}}-->
<!--            ,电话{{item.phoneNum}}-->
<!--        </li>-->
<!--    </ul>-->
<!--    <button @click="showUsers">显示用户</button>-->
<!--    <button @click="addUsers">添加用户</button>-->
<!--    <button @click="deleteUsers">删除用户</button>-->
<!--    <br>-->
<!--    用户名<input type="text" v-model="user.username" >-->
<!--    密码<input type="password" v-model="user.password" >-->
<!--    邮箱<input type="email"v-model="user.email" >-->
<!--    电话<input type="text" v-model="user.phoneNum">-->

</div>


<script>
    let app = new Vue({
       el:"#app",
       data:{
           new_user:{
               id:null,
               username:"",
               email:"",
               age:null,
               password:"",
               phoneNum:"",
           },
           users:[],
           search_user:{
               id:null,
               username:"",
               email:"",
               age:null,
               password:"",
               phoneNum:"",
           },
           search_users:[],
       },
        methods: {
            showUsers: function () {
                axios.get("http://localhost:8080/user/findAll").then(
                    function (response) {
                        app.users = response.data;
                        // app.users.push(list);
                        console.log(response.data);
                    }
                ).catch(function (error) {
                    console.log(error);
                })
            },
            showUsersByLike: function (e) {
                e.preventDefault();
                axios.post("http://localhost:8080/user/findByLike",app.search_user).then(
                    function (response) {
                        app.users = response.data;
                    }
                ).catch(function (error) {
                    console.log(error);
                })
            },
            addUsers:function(e){
                e.preventDefault();
               let user = app.new_user;
               if(!user.id){
                   if(!user.username&&user.username !== ""){
                       alert("User Name is Null or Undefined!");
                       return;
                   }else if (user.username === ""){
                       alert("User Name is Empty!");
                       return;
                   }
                   if(!user.password&&user.password !== 0){
                       console.log("User Name is Null or Undefined!");
                       return;
                   }

                   axios.post("http://localhost:8080/user/save", app.new_user).then(
                       function (){
                           app.showUsers();
                   })
                       .catch(function (error) {
                           console.log(error);
                       })
               }else {
                   axios.post("http://localhost:8080/user/update", app.new_user)
                       .catch(function (error) {
                           console.log(error);
                       })
               }
            },
            updateUsers:function(id){
               axios.get("http://localhost:8080/user/"+id)
                   .then(
                       function (response) {
                           app.new_user = response.data;
                       }
                   )
                   .catch(function (error) {
                       console.log(error)
                       }
                   );
            },
            deleteUsers:function(id){
                axios.post("http://localhost:8080/user/delete/"+id).then(
                    function () {
                        app.showUsers();
                    }
                )
                    .catch(function (error) {
                        console.log(error);
                    })
            },
            resetUsers:function (e){
                e.preventDefault();
               app.new_user={
                   id:null,
                   username:"",
                   email:"",
                   age:null,
                   password:"",
                   phoneNum:""
               }
            }
        },
        /*此时vue才刚刚创建，不能获取后台data*/
        before_created(){
        },
        /*此时适合获取后台data*/
        created(){
           //初始化加载数据
                axios.get("http://localhost:8080/user/findAll")
                .then(function (response){
                    app.users = response.data;
                    console.log(response);
                }).catch(function (error) {
                    console.log(error)
                })
        },updated(){
            //更新数据时
                axios.get()
        }
    });


</script>

</body>
</html>